<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <title>SHOW</title>
</head>
<body>
    <h1><%= campground.title %> </h1>
    <h2><%= campground.location %> </h2>
        <blockquote>
            <p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, natus quaerat quos corporis repudiandae quasi sit veritatis, tempore reprehenderit quibusdam, harum magni placeat voluptates sequi reiciendis autem earum consectetur iure!</em></p>
          </blockquote>
</body>
<footer>
    <p>END</p>
</footer>
</html>